.FlashCard {
  width: 100%;
  max-width: 1024px;
  height: 40vw;
  box-sizing: border-box;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: .2em;
}

img.typeface {
  width: 100%;
  max-width: 80%;
  margin-top: 5vh;
}

.answer {
  font-size: 2em;
  min-width: 60%;
  max-width: 100%;
  margin: .5em auto;
  text-align: center;
  background-color: #eee;
}
@media screen and (max-width: 460px) {
  .answer {
    font-size: 1em;
  }
}

.answer span {
  transition: opacity 300ms;
  opacity: 0;
  display: inline-block;
  box-sizing: border-box;
  padding: .5em;
  background-color: #fff;
  width: 100%;
}
@media screen and (max-width: 460px) {
  .answer span {
    padding: 1em;
  }
}

.answer span.visible {
  opacity: 1;
}

.action-area {
  margin-bottom: 5%;
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 460px) {
  .action-area {
    flex-direction: column;
  }
}

.action-area a {
  width: 20%;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background: #444;
  border: none;
  padding: 1em 2.5em;
  margin: 0 .5em;
  cursor: pointer;
}
@media screen and (max-width: 460px) {
  .action-area a {
    margin: .5em auto;
    max-width: 100%;
  }
}